body {
  display: grid;
  margin: 0;
  width: 100%;
  height: 100vh;

  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.container {
  max-width: 320px;
  width: 100%;

  @media (375px <=width) {
    max-width: 375px;
  }

  @media (425px <=width) {
    max-width: 425px;
  }

  @media (768px <=width) {
    max-width: 768px;
  }
}

.swiper-nav {
  margin-bottom: 16px;
  height: 60px;

  .swiper-slide {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
    width: auto;
    border-radius: 9999px;
    background-color: lightseagreen;
    color: white;
    font-weight: bold;

    @media (768px <=width) {
      padding-right: 64px;
      padding-left: 64px;
    }



  }

  .swiper-slide-thumb-active {
    background-color: lightgreen;
  }

  .swiper-button-prev,
  .swiper-button-next {
    &.swiper-button-disabled {
      display: none;
    }
  }

}

.swiper-main {
  height: 300px;

  .swiper-slide--main {
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    background-color: lightcoral;
    color: white;
    font-weight: bold;

    // 偶数の時は、背景色を変える
    &:nth-child(even) {
      background-color: lightpink;
    }
  }
}

.swiper-inner {
  height: 100px;

  .swiper-slide {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }

  .swiper-slide {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
  }

  .swiper-button-prev,
  .swiper-button-next {
    &.swiper-button-disabled {
      display: none;
    }
  }

}
