body {
  display: grid;
  margin: 0;
  width: 100%;
  height: 100vh;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.container {
  max-width: 480px;
  width: 100%;
}
@media (768px < width) {
  .container {
    max-width: 640px;
  }
}

.swiper-nav {
  margin-bottom: 16px;
  height: 60px;
}
.swiper-nav .swiper-slide {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
}
.swiper-nav .swiper-slide-thumb-active {
  background-color: lightgreen;
}

.swiper-main {
  height: 300px;
}
.swiper-main .swiper-slide--main {
  display: grid;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  background-color: lightcoral;
  color: white;
  font-weight: bold;
}
.swiper-main .swiper-slide--main:nth-child(even) {
  background-color: lightpink;
}

.swiper-inner {
  height: 100px;
}
.swiper-inner .swiper-slide {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 12px;
}
.swiper-inner .swiper-slide {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
}